:root {
	--primary-color-strong-cyan: #68E6FD;
	--very-dark-cyan: #00494D;
	--darker-grayish-cyan: #5E7A7D;
	--dark-grayish-cyan: #7F9C9F;
	--light-grayish-cyan: #C5E4E7;
	--lighter-grayish-cyan: #F4FAFA;
	--white-color: #FFFFFF;
	--cyan-color: #26C2AE;
}