@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import './constants.css';

* {
	box-sizing: border-box;
}

html {
	font-family: 'Space Mono';
	background: var(--light-grayish-cyan);
}

body {
	width: 80%;
	margin: 0 auto;
}