@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Space Mono';

	background:white;
}

body {
	margin: 0;
}