@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --clr-desaturatedDarkCyan: hsl(180, 29%, 50%);

  /* Neutral */
  --clr-lightGrayishCyanBackground: hsl(180, 52%, 96%);
  --clr-lightGrayishCyanFilterTablets: hsl(180, 31%, 95%);
  --clr-darkGrayishCyan: hsl(180, 8%, 52%);
  --clr-veryDarkGrayishCyan: hsl(180, 14%, 20%);
}

/* **************************************** */
/* ********   GENERAL      **************** */
/* **************************************** */

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  width: 100vw;
  background: var(--clr-lightGrayishCyanBackground);
}

.header_desktop {
  display: none;
}

.header_mobile {
  display: block;
}

/* **************************************** */
/* ********   HEADER       **************** */
/* **************************************** */

header {
  width: 100%;
  background: var(--clr-desaturatedDarkCyan);
}

.header_mobile {
  width: 100%;
}

/* **************************************** */
/* ********   MAIN         **************** */
/* **************************************** */

main {
  width: 100%;
  padding-top: 5em;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 350px;
  height: 300px;
  background: white;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;

  border: solid 1px transparent;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 7px -6px #cecece;

  padding: 2em 2em 2em;
  margin-bottom: 4em;
}

.add_border_left {
  border-left: solid 5px var(--clr-desaturatedDarkCyan);
}

.company_logo {
  position: absolute;
  top: -10%;
  left: 5%;
}

.company_logo img {
  width: 50px;
}

.desktop_first_row {
  height: 100px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.first_row {
  width: 100%;
  font-size: 0.8rem;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
}

.first_row span {
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
}

.company_name {
  color: var(--clr-desaturatedDarkCyan);
  padding-right: 1em;
}

.new {
  display: inline-block;
  height: 2em;
  background: var(--clr-desaturatedDarkCyan);
  color: white;

  border: solid 1px transparent;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.2em;
  margin-right: 1em;
}

.featured {
  display: inline-block;
  /* width: 6em; */
  height: 2em;
  background: black;
  color: white;

  border: solid 1px transparent;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.2em;
}

.second_row {
  width: 100%;
}

.position {
  font-size: 1rem;
  font-weight: 700;
}

.third_row {
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  color: gray;
}

.circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: gray; /*背景色*/
}

.fourth_row {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-left;
  align-items: center;
}

.role,
.level,
.lang,
.tools {
  display: inline-block;
  height: 2em;
  background: var(--clr-lightGrayishCyanBackground);
  color: var(--clr-desaturatedDarkCyan);
  font-size: 0.8rem;
  font-weight: 700;

  padding: 1em;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  border: solid 1px transparent;
  border-radius: 0.2rem;
  margin-bottom: 1em;
  margin-right: 1em;
}

/* **************************************** */
/* ********     FOOTER     **************** */
/* **************************************** */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* **************************************** */
  /* ********   MAIN         **************** */
  /* **************************************** */

  .container {
    width: 500px;
    height: 400px;

    padding: 5em 2em 2em;
    margin-bottom: 8em;
  }

  .company_logo img {
    width: 100px;
  }

  .desktop_first_row {
    height: 150px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 1em 0;
  }

  .role,
  .level,
  .lang,
  .tools {
    height: 3em;
    font-size: 0.9rem;

    padding: 1em;
  }
}

@media (min-width: 1025px) {
  /* **************************************** */
  /* ********   GENERAL      **************** */
  /* **************************************** */
  .header_desktop {
    display: block;
  }

  .header_mobile {
    display: none;
  }

  /* **************************************** */
  /* ********   HEADER       **************** */
  /* **************************************** */

  .header_desktop {
    width: 100%;
  }

  /* **************************************** */
  /* ********   MAIN         **************** */
  /* **************************************** */

  .container {
    width: 90%;
    height: 200px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 2em 2em 2em 15em;
    margin-bottom: 4em;
  }

  .company_logo {
    position: absolute;
    top: 25%;
    left: 5%;
  }

  .company_logo img {
    width: 100px;
  }

  .desktop_first_row {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .first_row {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 700;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
  }

  .first_row span {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-align: center;
  }

  .company_name {
    font-size: 1rem;
    padding-right: 2em;
  }

  .position {
    font-size: 1.2rem;
  }

  hr {
    display: none;
  }

  .fourth_row {
    width: 600px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .role,
  .level,
  .lang,
  .tools {
    height: 3em;
    font-size: 0.9rem;

    padding: 1em;
  }
}
