* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --clr-red: hsl(0, 100%, 68%);

  /* Neutral */
  --clr-veryDarkBlue: hsl(230, 29%, 20%);
  --clr-darkGrayishBlue: hsl(230, 11%, 40%);
  --clr-grayishBlue: hsl(231, 7%, 65%);
  --clr-lightgrayishBlue: hsl(207, 33%, 95%);
}

/* **************************************** */
/* *******       GENERAL   **************** */
/* **************************************** */

body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

/* **************************************** */
/* *******       HEADER    **************** */
/* **************************************** */

nav {
  font-family: "Barlow Condensed", sans-serif;
}

/* **************************************** */
/* ***************    MAIN   ************** */
/* **************************************** */

/* **************************************** */
/* *******       FOOTER    **************** */
/* **************************************** */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
