* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --clr-violet: black
}

/* **************************************** */
/* *******       GENERAL   **************** */
/* **************************************** */

/* **************************************** */
/* *******       HEADER    **************** */
/* **************************************** */

/* **************************************** */
/* *******       FOOTER    **************** */
/* **************************************** */

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }