@import '../../constants.css';

.input {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	max-width: 40rem;
}

.input label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.input input {
	font: inherit;
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	padding: 0.15rem;
	margin-bottom: 0.5rem;
}

.input input:focus {
	outline: none;
	border-color: #4f005f;
}

.card {
	flex-wrap: wrap;
	padding: 5px;
}

.tip_card {
	color: white;
	text-align: center;
	width: 30%;
	background-color: var(--very-dark-cyan);
	margin: 5px;
	border-radius: 5px;
}

.tip_card_selected {
	color: var(--very-dark-cyan);
	background-color: var(--light-grayish-cyan);
}