@import '../../constants.css';

.input {
	margin: 1rem auto;
	padding: 1rem;
	width: 100%;
	max-width: 40rem;
}

.input label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.input input {
	font: inherit;
	display: block;
	width: 100%;
	background: var(--lighter-grayish-cyan);
	border: 1px solid transparent;
	border-radius: 5px;
	padding: 0.3rem;
	margin-bottom: 0.5rem;
	text-align: right;
}

.input input:focus {
	outline: none;
	border: 1px solid var(--primary-color-strong-cyan);
}

.card {
	flex-wrap: wrap;
	padding: 5px;
}

.tip_card {
	color: white;
	text-align: center;
	width: 30%;
	background-color: var(--very-dark-cyan);
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.tip_card_selected {
	color: var(--very-dark-cyan);
	background-color: var(--light-grayish-cyan);
}

.button {
	background-color: var(--cyan-color);
	color: var(--very-dark-cyan);
}

.button:hover,
.button:active {
	background: var(--very-dark-cyan);
	color: var(--dark-grayish-cyan);
}