@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --clr-darkGray: hsl(0, 0%, 63%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-veryDarkGray: hsl(0, 0%, 27%);
}

/* **************************************** */
/* ********   GENERAL      **************** */
/* **************************************** */

body {
    font-size: 12px;
    font-family: 'Spartan', sans-serif;
}

/* **************************************** */
/* ********   HEADER       **************** */
/* **************************************** */



/* **************************************** */
/* ********   FOOTER       **************** */
/* **************************************** */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }