* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --clr-primary: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  /* Neutral */

  --clr-veryLightGrayishBlue: hsl(240, 78%, 98%);
  --clr-lightGrayishBlue: hsl(234, 14%, 74%);
  --clr-grayishBlue: hsl(233, 13%, 49%);
  --clr-darkGrayishBlue: hsl(232, 13%, 33%);
}

/* **************************************** */
/* ***************    GENERAL  ************ */
/* **************************************** */

body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background: var(--clr-veryLightGrayishBlue);

  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.bg-top {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40%;
  max-width: 100%;
  height: auto;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.bg-bottom {
  display: none;
}

/* **************************************** */
/* ************     HEADER **************** */
/* **************************************** */

header {
  position: relative;
  height: 200px;
  width: 90%;
  margin: 20% 5% 5%;
  text-align: center;
}

.title {
  font-size: 2rem;
  color: var(--clr-grayishBlue);
}

/* SWITCH */
.switch {
  margin-top: 2em;
}

.switch::before {
  content: "Annually";
  color: var(--clr-lightGrayishBlue);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1rem;
  margin-bottom: 1.5em;
  margin-right: 1em;
}

.switch::after {
  content: "Monthly";
  color: var(--clr-lightGrayishBlue);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1rem;
  margin-bottom: 1.5em;
  margin-left: 1em;
}

.switch__label {
  width: 4em;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 33px;
  overflow: hidden;
}
.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1px solid none;
  border-radius: 30px;
  background: var(--clr-primary);
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.switch__input {
  display: none;
}

.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
  box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.switch__input:checked ~ .switch__circle {
  left: 2.1em;
}

.switch__input:checked ~ .switch__content:after {
  background: hsl(236, 72%, 79%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* **************************************** */
/* **********  CONTAINER   **************** */
/* **************************************** */

.container {
  width: 90%;
  margin: 1em auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 480px;
  margin-bottom: 2em;
  padding: 3% 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  border: solid 0.1px none;
  border-radius: 5px;
  z-index: 10;
}

.card .price {
  font-size: 5rem;
}

.card:nth-child(odd) {
  color: var(--clr-grayishBlue);
  background: white;
}

.card:nth-child(odd) .price {
  color: var(--clr-darkGrayishBlue);
}

.card:nth-child(odd) .price::before {
  content: "$";
  font-size: 3rem;
  /* position: relative; */
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.3em;
  margin-right: 0.2em;
}

.card:nth-child(even) {
  color: white;
  background: var(--clr-primary);
}

.card .contract {
  font-size: 1.5rem;
  padding-top: 1em;
}

.card:nth-child(even) .price::before {
  content: "$";
  font-size: 3rem;
  /* position: relative; */
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.3em;
  margin-right: 0.2em;
}

.storage,
.users,
.sendup {
  width: 80%;
}

.storage::before,
.users::before,
.sendup::before {
  white-space: pre;
  content: "";
  display: inline-block;
  background: var(--clr-lightGrayishBlue);
  height: 1px;
  width: 100%;

  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

  margin-bottom: 1em;
}

.sendup::after {
  content: "";
  display: inline-block;
  background: var(--clr-lightGrayishBlue);
  height: 1px;
  width: 100%;

  position: relative;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);

  margin-top: 1em;
}

button {
  width: 80%;
  height: 3rem;
  border: solid 1px none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.card:nth-child(odd) button {
  background: var(--clr-primary);
  color: white;
}

.card:nth-child(even) button {
  background: white;
  color: hsl(237, 63%, 64%);
}

button:focus {
  outline: none;
}

.card:nth-child(odd) button:hover {
  background: white;
  border: solid 1px var(--clr-grayishBlue);
  color: hsl(237, 63%, 64%);
}

.card:nth-child(odd) button:active {
  transform: scale(0.99);
  background: var(--clr-primary);
  color: white;
}

.card:nth-child(even) button:hover {
  background: var(--clr-primary);
  border: solid 1px white;
  color: white;
}

.card:nth-child(even) button:active {
  transform: scale(0.99);
  background: white;
  color: hsl(237, 63%, 64%);
}

/* **************************************** */
/* ***************    FOOTER ************** */
/* **************************************** */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* **************************************** */
/* ***********    TABLET   **************** */
/* **************************************** */

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    position: relative;
    height: 100px;
    width: 90%;
    margin: 10% 5% 5%;
    text-align: center;
  }

  .container {
    width: 60%;
    margin: 1em auto;
  }

  .card {
    font-size: 1.2rem;
  }

  .card .contract {
    font-size: 1.8rem;
    padding-top: 1em;
  }

  button {
    font-size: 1.2rem;
  }
}

/* **************************************** */
/* *********      LAPTOP   **************** */
/* **************************************** */

@media (min-width: 1024px) {
  header {
    position: relative;
    /* height: 150px; */
    height: 20%;
    width: 100%;
    margin: 5% 5% 2%;
    text-align: center;
  }

  .bg-top {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30%;
    max-width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }

  .bg-bottom {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30%;
    max-width: 100%;
    height: auto;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  /* **************************************** */
  /* ************     HEADER **************** */
  /* **************************************** */

  .title {
    font-size: 2.5rem;
  }

  .switch {
    margin-top: 3em;
  }

  /* **************************************** */
  /* **********  CONTAINER   **************** */
  /* **************************************** */

  .container {
    width: 70%;
    margin: 0 auto;
    height: 70%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 450px;
    margin-bottom: 0;
    padding: 3% 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    border: solid 0.1px none;
    border-radius: 5px;
    z-index: 10;
  }

  .card:nth-child(2) {
    height: 500px;
    box-shadow: 0px 18px 48px -19px #696fdd;
  }

  .card .price {
    font-size: 4rem;
  }

  .attribution {
    margin-top: 5em;
  }
}
