* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --clr-primary: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  /* Neutral */

  --clr-veryLightGrayishBlue: hsl(240, 78%, 98%);
  --clr-lightGrayishBlue: hsl(234, 14%, 74%);
  --clr-grayishBlue: hsl(233, 13%, 49%);
  --clr-darkGrayishBlue: hsl(232, 13%, 33%);
}

/* **************************************** */
/* ***************    GENERAL  ************ */
/* **************************************** */

body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

/* **************************************** */
/* ***************    FOOTER ************** */
/* **************************************** */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
