* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --clr-strongCyan: hsl(171, 66%, 44%);
  --clr-lightBlue: hsl(233, 100%, 69%);

  /* Neutral */
  --clr-darkGrayishBlue: hsl(210, 10%, 33%);
  --clr-grayishBlue: hsl(201, 11%, 66%);
}

/* ********************************* */
/*             GENERAL               */
/* ********************************* */

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.image img {
  width: 85%;
  margin-top: 4em;
}

.title {
  font-size: 1.5rem;
}

.details {
  font-size: 1rem;
  color: var(--clr-grayishBlue);
  padding-top: 1em;
  line-height: 1.8rem;

  width: 85%;
  margin: 0 auto;
}

.message .title {
  font-size: 1.8rem;
  font-weight: 600;
}

.break:before {
  content: "\A";
  white-space: pre;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10em;
}

button {
  width: 80%;
  height: 3rem;
  border-radius: 5rem;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(0.99);
}

.download-ios {
  background: var(--clr-strongCyan);
  box-shadow: 0px -2px 0px 2px #1f7a6c inset;
}

.download-ios:active {
  box-shadow: 0px 0px 0px 0px #1f7a6c inset;
}

.download-mac {
  background: var(--clr-lightBlue);
  box-shadow: 0px -2px 0px 2px #4653bc inset;
}

.download-mac:active {
  box-shadow: 0px 0px 0px 0px #4653bc inset;
}

/* *********************************** */
/*              HEADER                 */
/* *********************************** */

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.logo-header {
  width: 30%;
  padding-top: 6em;
}

header .title {
  font-size: 2rem;
  padding-top: 2em;
}

header .btn {
  padding-top: 2em;
}

.upper-section,
.middle-section,
.lower-section {
  margin-top: 8em;
}

/* *********************************** */
/*              CONTAINER              */
/* *********************************** */

.container {
  position: relative;
  width: 95%;
  text-align: center;
  margin: 0 auto;
  /* background: gray; */
}

/* *********************************** */
/*              UPPER                  */
/* *********************************** */

.upper-section {
  position: relative;
  width: 100%;
}

.upper-items .item .title {
  padding-top: 2.5em;
}

/* *********************************** */
/*              MIDDLE                 */
/* *********************************** */

/* *********************************** */
/*              LOWER                  */
/* *********************************** */

.lower-items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.lower-items .item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  height: 15em;
  margin-top: 2em;
}

/* *********************************** */
/*              CUSTOMERS              */
/* *********************************** */

.customers {
  height: 500px;
  position: relative;
  margin: 5em;
}

.customers ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}

/* *********************************** */
/*              FOOTER                 */
/* *********************************** */

footer {
  position: relative;
  background: hsl(210, 61%, 96%);
  margin-top: 5em;
  padding-top: 3em;
  padding-bottom: 30px;
  height: 600px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  color: var(--clr-darkGrayishBlue);
}

.logo-footer {
  width: 3em;
}

.links {
  height: 300px;
}

.links ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}

.links ul li a {
  color: var(--clr-darkGrayishBlue);
}

.links ul li a:hover {
  color: var(--clr-strongCyan);
}

.social-icons ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;

  width: 200px;
}

.social-icons ul li {
  font-size: 1.7rem;
}

.fab {
  color: var(--clr-darkGrayishBlue);
}

.fab:hover {
  color: var(--clr-strongCyan);
}

.attribution {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ***************************** */
/*                 LAPTOP        */
/* ***************************** */

@media (min-width: 786px) {
  .break:before {
    content: "";
    white-space: pre;
  }

  .message .title {
    font-size: 3rem;
    font-weight: 600;
  }

  .details {
    font-size: 1.5rem;
    line-height: 1.8rem;

    width: 55%;
    margin: 0 auto;
  }

  header {
    width: 100%;
    height: 650px;
    background-image: url(./images/bg-header-desktop.png);
  }

  .logo-header {
    width: 10%;
  }

  header .title {
    font-size: 10rem;
    padding-top: 2em;
  }

  .btn {
    flex-direction: row;
    justify-content: space-around;
    height: 5em;

    width: 40%;
    margin: 0 auto;
  }

  button {
    width: 45%;
    height: 4rem;
    font-size: 1.2rem;
  }

  .upper-section,
  .middle-section,
  .lower-section {
    margin-top: 8em;
  }

  .upper-main {
    position: relative;
    height: 600px;
  }

  .imac-image {
    width: 60%;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateX(-20%);
  }

  .upper-items {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: left;

    padding-left: 40%;
    width: 100%;
    height: 100%;
  }

  .item {
    width: 60%;
  }

  .upper-items .item .title {
    font-size: 1.5rem;
  }

  .upper-items .item .details {
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
  }

  .lower-items {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3em;
  }

  .lower-items .item {
    width: 100%;
    height: 15em;
    margin-top: 0;
  }

  .lower-items .item .title {
    padding-top: 1.5em;
  }

  .lower-items .item .details {
    margin: 0;
    width: 90%;
    font-size: 1.2rem;
  }

  .customers {
    height: 200px;
    margin: 5em 0;
  }

  .customers ul {
    flex-direction: row;
  }

  .container .btn {
    padding-top: 2rem;
  }

  footer {
    height: 250px;
    padding-top: 1em;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .links {
    height: 100px;
    width: 600px;
  }

  .links ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .links li {
    padding-bottom: 20px;
    width: 40%;
  }
}
